<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sample Node</key>
	<dict>
		<key>children</key>
		<array/>
		<key>groupItem</key>
		<false/>
		<key>icon</key>
		<string></string>
		<key>leaf</key>
		<true/>
		<key>requiresFullAPI</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>view</key>
		<string></string>
	</dict>
	<key>Tasks</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array/>
					<key>groupItem</key>
					<false/>
					<key>icon</key>
					<string>29984</string>
					<key>leaf</key>
					<true/>
					<key>requiresFullAPI</key>
					<false/>
					<key>title</key>
					<string>Information</string>
					<key>view</key>
					<string>CharacterInfoController</string>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>groupItem</key>
					<false/>
					<key>icon</key>
					<string></string>
					<key>leaf</key>
					<true/>
					<key>requiresFullAPI</key>
					<false/>
					<key>title</key>
					<string>Skill Queue</string>
					<key>view</key>
					<string>CharacterSkillQueueController</string>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>groupItem</key>
					<false/>
					<key>icon</key>
					<string>icon</string>
					<key>leaf</key>
					<true/>
					<key>requiresFullAPI</key>
					<true/>
					<key>title</key>
					<string>Market Orders</string>
					<key>view</key>
					<string>CharacterMarketOrdersController</string>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>groupItem</key>
					<false/>
					<key>icon</key>
					<string></string>
					<key>leaf</key>
					<true/>
					<key>requiresFullAPI</key>
					<true/>
					<key>title</key>
					<string>Industry Jobs</string>
					<key>view</key>
					<string></string>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>groupItem</key>
					<false/>
					<key>icon</key>
					<string></string>
					<key>leaf</key>
					<true/>
					<key>requiresFullAPI</key>
					<true/>
					<key>title</key>
					<string>Research Jobs</string>
					<key>view</key>
					<string></string>
				</dict>
			</array>
			<key>groupItem</key>
			<true/>
			<key>icon</key>
			<string></string>
			<key>leaf</key>
			<false/>
			<key>requiresFullAPI</key>
			<false/>
			<key>title</key>
			<string>CHARACTER</string>
			<key>view</key>
			<string></string>
		</dict>
		<dict>
			<key>children</key>
			<array/>
			<key>groupItem</key>
			<true/>
			<key>icon</key>
			<string>icon</string>
			<key>leaf</key>
			<false/>
			<key>requiresFullAPI</key>
			<false/>
			<key>title</key>
			<string>SKILL PLANS</string>
			<key>view</key>
			<string></string>
		</dict>
		<dict>
			<key>children</key>
			<array/>
			<key>groupItem</key>
			<true/>
			<key>icon</key>
			<string></string>
			<key>leaf</key>
			<false/>
			<key>requiresFullAPI</key>
			<false/>
			<key>title</key>
			<string>SHIPS</string>
			<key>view</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
